*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  margin: 0;
  font-family: inherit;
}

.page {
  background-color: #e8e7f0;
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container {
  background-color: #8cc6db;
  padding: 30px 40px;
  border-radius: 20px;
}

h2{
  font-size: 28px;
  text-align: center;

}

input {
  border: none;
  width: 100%;
  max-width: 920px;
  padding: 10px;
  font-size: 16px;
}

input:focus{
  border: none;
}

.main{
  display: flex;
  justify-content: space-between;
}

#button_add {
  border: none;
  max-width: 100%;
  width: 80px;
  background: #e6e6e6;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

#button_add:hover {
  background-color: #ccc;
}

#button_add:focus {
  border-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  cursor: pointer;
  position: relative;
  background: #ffffff;
  font-size: 18px;
  width: 100%;
  padding-left: 10px;
  float: left;
  border-bottom: #ccc solid 1px;
  vertical-align: center;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.delete {
  border: none;
  max-width: 100%;
  width: 80px;
  font-size: 15px;
  color: black;
  height: 5vh;
}

.delete:hover {
  background-color: #f44336;
  color: white;
}

